<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <iron-ajax id="hacerLogin"
    url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/login"
    method= "POST"
    handle-as="json"
    on-response="mostrarResultadoLogin"
    on-error="mostrarError">
   </iron-ajax>

   <div class="row">
     Email:<br>
     <!-- la propiedad VALUE vincula ese atributo a la clase -->
     <input type="email" value="{{email::input}}"/>
     <br>Password:<br>
     <input type="password" value="{{password::input}}"/>
     <br>
     <button on-click="logar">Login</button>
   </div>
   <span hidden$="{{!logado}}">Bienvenido de nuevo</span>

 </template>

 <script>

   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         },
         password: {
           type: String
         },
         id:{
           type: Number
         },
         logado:{
           type: Boolean,
           value: false
         }
       };
     }

     logar(){
       console.log("1. El usuario ha pulsado el botón")
       //el $ sirve para acceder a las propiedades del template
       this.$.hacerLogin.headers.email = this.email
       this.$.hacerLogin.headers.password = this.password
       //este es el equivalente a la propiedad "auto" que le puse al iron-ajax en visor-usuario
       console.log("2. Voy a enviar la petición")
       this.$.hacerLogin.generateRequest()
       console.log("3. Petición enviada")
     }

     mostrarResultadoLogin(resultado){
       console.log("4. Llegaron los resultados")
       console.log(resultado)
       console.log("5. Proceso los resultados")
       //si ha llegado hasta aquí es que ha podido hacer login
       this.logado = true
       this.id = resultado.detail.response.id
       console.log(this.id)
       console.log("6. Envío evento de logado "+this.id)
       this.dispatchEvent(new CustomEvent("eventologado", {"detail": {"idcliente":this.id}}))
     }

     mostrarError(error){
       console.log("4. Llegó el error")
       console.log(error)
       this.logado = false
     }

   }

   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
