<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">

<dom-module id="visor-cuentas">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="obtenerCuentas"
     url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentas/cliente"
     handle-as="json"
     on-response="mostrarCuentas"
     on-error="mostrarErrorCuentas">
    </iron-ajax>

      <h1>Sus cuentas</h1>
      <!-- El DOM-REPEAT funciona como un bucle foreach sobre el array que se le pasa en ITEMS -->
      <!--
      <template is="dom-repeat" items="{{cuentas}}">
        <span>{{item.iban}}</span><br>
      </template>
    -->

      <!-- Ahora pinta lo mismo pero usando tablas -->
      <table class="table table-striped">
          <thead>
            <th>INDEX</th>
            <th>IBAN</th>
          </thead>
          <tbody>
          <template is="dom-repeat" items="{{cuentas}}">
              <tr>
                  <td>{{index}}</td>
                  <td>{{item.iban}}</td>
                  <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td>

                  <!-- aquí querríamos que haga expand-collapse al pinchar en los movimientos-->
                  <!--
                  <td><paper-toggle-button checked = "{{opened}}">Collapse this</paper-toggle-button>
                    <iron-collapse opened = "[[opened]]">
                     <div><p>This is polymerjs iron-collapse.</p></div>
                   </iron-collapse></td>
                 -->


              </tr>
          </template>
          </tbody>
      </table>


  </template>

  <script>

    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idcliente:{
            type: Number,
            value:528
          },
          cuentas:{
            type: Array
          }
        };
      }

      mostrarCuentas(resultado){
        console.log("4. Llegaron las cuentas")
        console.log(resultado.detail.response)
        this.cuentas = resultado.detail.response
      }

      mostrarErrorCuentas(error){
        console.log("4. Llegó el error")
        console.log(error.detail.response)
      }

      recuperarCuentas(datos){
        console.log("En visor-cuentas para mostrar datos del cliente ", datos.idcliente)
        this.idcliente= datos.idcliente
        this.$.obtenerCuentas.headers.idcliente = 528
        this.$.obtenerCuentas.generateRequest()
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
