<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">

<dom-module id="padre-app">
  <template>
    <style>
      [hidden]{
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>

    <h1>Yo soy tu padre</h1>

    <!-- Cuando el emisor lance el evento, el padre podrá decidir qué hace con esta llamada "on" más el nombre del evento invocando a un método -->
    <!--
    <emisor-app id="emi" on-mievento="procesar"></emisor-app>
    <receptor-app id="recep"></receptor-app>
    -->
    <login-usuario hidden$={{estoylogado}} id="login" on-eventologado="procesarLogado"></login-usuario>
    <visor-cuentas hidden$={{!estoylogado}} id="vicu"></visor-cuentas>

  </template>

  <script>

    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoylogado:{
            type: Boolean,
            value: false
          }
        };
      }

      procesar(e){
        console.log("Emisor me ha dicho algo")
        console.log(e)
        this.$.recep.mostrarDatos(e.detail)
      }

      procesarLogado(e){
        console.log("Emisor me ha dicho que está logado", e.detail)
        console.log(e)
        this.estoylogado = true
        this.$.vicu.recuperarCuentas(e.detail)
      }
    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
